[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pytoml = "*"
requests = "*"
fabric = {git = "https://github.com/fabric/fabric.git", ref="v2", editable=true}
colorama = "*"
invocations = "*"
python-dotenv = "*"


[requires]

python_version = "3.6"
